body{
  font-family: sans-serif;
  background-color: whitesmoke;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-calculator{
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 233, 233);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 600px;
  padding: 30px;
  
}

.btn-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 400px;
  width: 400px;
  
}

.interface{
  border: none;
  height: 100px;
  width: 400px;
  background: none;
  font-size: 40px;
  font-weight: 600;
  box-sizing: border-box;
  text-align: right;
  direction: ltr;
  outline: none;
  border: none;

}

.btn{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-size: 30px;
  font-weight: bold;
  margin: 2px;
  border: none;
  cursor: pointer;
}


.btn4{
  background-color: orange;
}

.btn3{
  background-color: rgb(255, 193, 78);
}

.btn2{
  background-color: rgb(228, 202, 153);
}

.btn1{
  background-color: rgb(196, 183, 159);
}


.equal{
  width: 400px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-size: 26px;
  font-weight: bold;
  margin: 2px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.equal:hover{
  background-color: rgb(163, 163, 163);
}