*{
font-family: 'Nunito Sans', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
  background-image: url(abstract-blue-texture-4k-cl-2560x1600.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}


.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.text{
 display: flex;
 flex-direction: column;
 width: 600px;
 height: auto;


}

.text h1{
  font-size: 80px;
  font-weight: bold;

}


.page-content{
  background-color: rgba(233, 233, 233, 0.644);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 20px;
  width: 1100px;
  height: 700px;
  font-size: 36px;

}

.page-content h1{
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  margin-left: 70px;
}

.h2-container{
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  height: 30px;
}

.fa2{
  cursor: pointer;
  border-radius: 4px;
  padding: 15px;
}

.password-strong{
  display: flex;
  margin-top: 8px;
}

.low{
  background-color: red;
  border-radius: 4px;
  height: 10px;
  width: 150px;
  display: none;
}

.mid{
  background-color: orange;
  height: 10px;
  width: 150px;
  border-radius: 4px;
  display: none;
}

.high{
  background-color: green;
  height: 10px;
  width: 150px;;
  border-radius: 4px;
  display: none;
}

.div4{
  font-size: 23px;
  font-weight: bold;
  margin-top: 6px;
  display: none;
  
}

.low2{
  display: inline;
}

.mid2{
  display: inline;
}

.high2{
  display: inline;
}

.div42{
  display: inline;
}

.password-container{
  display: grid;
  grid-template-columns: auto auto; 
  justify-content: space-between;
  row-gap: 30px;
  font-size: 34px;
  font-weight: bold;
  margin: 40px 0px;
  
}

.range-input{
  width: 300px;
}


.numbers-input{
  width: 52px;
  height: 34px;
  font-size: 20px;
  font-weight: bold;
  padding: 6px;
}

.btn{
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 30px;
  margin: auto;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.4s ;
  
}

.btn:hover{
  background-color: white;
}
